apiclient
arrow
beautifulsoup4
Django
djangorestframework
djangorestframework-simplejwt
numpy
pandas
psycopg2
PyJWT
PyMySQL
pyproj
requests
SQLAlchemy
func_timeout
mysqlclient
pytest==7.4.0
pytest-lazy-fixture
pytest-cov
pytest-django
jdatetime
pyodbc
yagmail